@tailwind base;
@tailwind components;
@tailwind utilities;

.min-h-screen {
  min-height: 100svh;
}

.h-screen {
  height: 100dvh;
}

.ant-btn-link,
.link {
  @apply font-medium text-interactive hover:underline;
}

.card {
  @apply rounded-md sm:transition-transform sm:hover:scale-[1.015];
}

.card:not([class*="bg-"]) {
  @apply bg-white shadow shadow-neutral-900/10 ring-opacity-10 ring-1 ring-neutral-600;
}

.heading-xs {
  @apply text-xs sm:text-sm font-medium;
}

.heading-sm {
  @apply text-sm font-medium;
}

.heading {
  @apply text-sm font-medium sm:text-base;
}

.heading-lg {
  @apply font-semibold leading-5 sm:text-lg;
}

.heading-xl {
  @apply text-lg font-semibold leading-5 sm:text-xl decoration-2;
}

.heading-xs:not([class*="text-"]),
.heading-sm:not([class*="text-"]),
.heading:not([class*="text-"]),
.heading-lg:not([class*="text-"]),
.heading-xl:not([class*="text-"]) {
  @apply text-neutral-900;
}

.sub-heading {
  @apply text-sm sm:text-base font-normal;
}

.sub-heading-sm {
  @apply text-sm font-normal;
}

.sub-heading-xs {
  @apply text-xs sm:text-sm font-normal;
}

.sub-heading:not([class*="text-"]),
.sub-heading-sm:not([class*="text-"]),
.sub-heading-xs:not([class*="text-"]) {
  @apply text-neutral-500;
}

p,
dl {
  @apply text-sm/6 sm:text-base/7 tracking-normal;
}

dt {
  @apply text-neutral-500;
}

.ant-btn {
  @apply inline-flex items-center font-medium;
}

.ant-btn:not([class*="rounded"]) {
  @apply rounded-md;
}

.ant-btn-primary {
  @apply bg-interactive font-medium;
}

.ant-btn-block {
  @apply justify-center;
}

.ant-btn-lg {
  @apply !h-10 lg:!h-[2.75rem] !text-sm sm:!text-base;
}

.ant-form .ant-form-item-label {
  @apply pb-1.5 font-medium text-sm;
}

.ant-form .ant-form-item-extra {
  @apply pt-1.5 text-sm;
}

.ant-form-item-required {
  @apply inline-flex flex-row-reverse gap-x-1;
}

.hide-validation-asterix .ant-form-item-required:before {
  @apply opacity-0;
}

.ant-form-vertical .ant-form-item {
  @apply mb-6;
}

.ant-modal .ant-modal-header {
  @apply mb-6;
}

.radio-button-lg {
  @apply w-full !rounded-md before:!hidden !border flex justify-center items-center !text-sm px-2 sm:px-4 font-normal;
}

.radio-button-xl {
  @apply w-full !h-auto !rounded-md before:!hidden !border !leading-4 flex items-center py-3 sm:py-5 px-3 sm:px-4 font-normal;
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  @apply ring-1 ring-interactive font-medium;
}

.ant-radio-button-wrapper.ant-radio-button-wrapper-checked:not(:first-child)::before {
  @apply w-[2px];
}

.ant-select-mobile {
  @apply max-lg:!rounded-t-md max-lg:!rounded-b-none max-lg:!fixed max-lg:!p-0 max-lg:!left-0 max-lg:!right-0 max-lg:!bottom-0 max-lg:!top-auto max-lg:!w-full;
}

.ant-select-mobile:before {
  @apply max-lg:content-[""] max-lg:fixed max-lg:inset-0 max-lg:bg-neutral-900/50 max-lg:!z-40 max-lg:!pointer-events-none;
}

.ant-select-mobile > div {
  @apply max-lg:!bg-white max-lg:!z-50 max-lg:!relative max-lg:!p-3;
}

.ant-select-mobile .ant-select-item {
  @apply max-lg:!px-3;
}

.ant-select-token {
  @apply w-auto max-lg:[&>*]:!rounded-full lg:w-40;
}

.ant-select-token .ant-select-selection-placeholder,
.ant-select-token .ant-select-selection-item {
  @apply max-lg:text-neutral-900 max-lg:font-medium;
}

.ant-select-token .ant-select-arrow {
  @apply max-lg:text-neutral-900;
}

.ant-drawer .ant-drawer-header-title {
  @apply flex flex-row-reverse;
}

.ant-drawer .ant-drawer-close {
  @apply !m-0;
}

.ant-drawer-basket .ant-drawer-content-wrapper {
  @apply max-lg:max-h-[calc(100%-5vh)] max-lg:!h-[500px] max-w-[696px] mx-auto;
}

.ant-drawer-basket .ant-drawer-content {
  @apply max-lg:rounded-t-md;
}

.ant-drawer-basket .ant-drawer-body {
  @apply p-4 pt-2 sm:pt-3 sm:px-5 flex flex-col overscroll-contain overflow-y-auto overflow-x-hidden;
}

.ant-drawer-basket .ant-drawer-header {
  @apply border-0 px-4 sm:px-5;
}

.ant-drawer-basket .hide--inside--drawer {
  @apply hidden;
}

.min-h-screen-custom {
  @apply min-h-[calc(100svh-8rem)];
}

.ant-steps.ant-steps-vertical {
  @apply pl-[calc(0.25rem+1px)];
}

.ant-steps.ant-steps-vertical .ant-steps-icon-dot {
  @apply relative before:absolute before:-inset-1 before:rounded-full before:border before:border-[rgba(0,0,0,0.25)];
}

.ant-steps.ant-steps-vertical .ant-steps-item.ant-steps-item-active .ant-steps-icon-dot:before {
  @apply border-interactive;
}

.ant-steps.ant-steps-vertical .ant-steps-item.ant-steps-item-active .ant-steps-item-title {
  @apply font-medium;
}

.ant-tooltip {
  @apply max-sm:hidden;
}

.ant-switch {
  @apply bg-neutral-400;
}

:where(.rounded-md) .ant-collapse,
:where(.rounded-md) .ant-upload-wrapper .ant-upload-drag,
:where(.rounded-md) .ant-btn:not([class*="rounded"]),
:where(.rounded-md, .ant-collapse) .ant-input {
  @apply rounded;
}

:where(.rounded-md) .ant-collapse > .ant-collapse-item:last-child,
:where(.rounded-md) .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  @apply rounded-b;
}

:where(.rounded-md) .ant-radio-button-wrapper:first-child {
  @apply rounded-l;
}

:where(.rounded-md) .ant-radio-button-wrapper:last-child {
  @apply rounded-r;
}

.ant-upload-wrapper .ant-upload-drag {
  @apply bg-transparent transition-[max-height] duration-200 max-h-[106px];
}

.ant-upload-wrapper .ant-upload-drag:has(+ .ant-upload-list:not(:empty)) {
  @apply max-h-0 overflow-hidden border-none;
}

.ant-upload-wrapper .ant-upload-list:not(:empty) {
  @apply -mt-2;
}

.ant-upload-wrapper .ant-upload-list-item-image {
  @apply rounded-md object-cover object-center;
}

.ant-upload-wrapper .ant-upload-list-item-action {
  @apply flex justify-center mr-1 h-7 w-7;
}

.ant-upload-wrapper .ant-upload-list .anticon-delete {
  @apply !text-error;
}

.ant-form-item-has-error .ant-switch {
  @apply rounded-full shadow-[0_0_0_2px_white,_0_0_0_3px_theme(colors.error)];
}

@media (max-width: 1023px) {
  .modal-full-mobile {
    @apply !w-full !h-screen !inset-0 !max-w-none !p-0 !m-0 !rounded-none;
  }

  .modal-full-mobile .ant-modal-header {
    @apply sticky top-0 z-10 bg-neutral-100/95 -mx-4 px-4 -my-3 py-4 mb-4 !rounded-none;
  }

  .modal-full-mobile .ant-modal-close {
    @apply top-4 right-4 fixed;
  }

  .modal-full-mobile .ant-modal-content {
    @apply !rounded-none !min-h-screen py-3 px-4;
  }
}

.ant-carousel .slick-dots li button {
  @apply h-2 w-2 sm:h-2.5 sm:w-2.5 rounded-full;
}

.ant-carousel .slick-dots li {
  @apply !w-auto h-2 sm:h-6;
}

.bg-grid {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='%23f1f5f9'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}

.container-lg .container {
  @apply lg:max-w-[1460px];
}

.break-container {
  max-width: 1440px;
  width: 100vw;
  margin-left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.ant-collapse-calendar .ant-collapse-header {
  padding: 10px 0 !important;
}

.ant-collapse-calendar .ant-collapse-header-text {
  font-weight: 500;
}

.ant-collapse-calendar .ant-collapse-content-box {
  padding: 4px 0 16px 0 !important;
}

.ant-picker-header-super-prev-btn,
.ant-picker-header-super-next-btn {
  display: none !important;
}

.morning ~ .morning,
.afternoon ~ .afternoon,
.evening ~ .evening {
  display: none;
}
