@font-face {
  font-family: "CircularStd";
  src: url("./src/assets/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.min-h-screen {
  min-height: 100svh;
}

.h-screen {
  height: 100dvh;
}

h1.ant-typography,
h2.ant-typography,
h3.ant-typography,
h4.ant-typography {
  @apply font-display font-medium;
}

h5.ant-typography {
  @apply font-medium;
}

.ant-btn {
  @apply inline-flex items-center;
}

.ant-btn-block {
  @apply justify-center;
}

.ant-form-vertical .ant-form-item-label {
  @apply pb-1;
}

.ant-form-vertical .ant-form-item-extra {
  @apply pt-1;
}

.ant-form-item-required {
  @apply inline-flex flex-row-reverse gap-x-1;
}

.hide-validation-asterix .ant-form-item-required:before {
  @apply opacity-0;
}

.ant-form-vertical .ant-form-item {
  @apply mb-6;
}

.ant-modal .ant-modal-header {
  @apply mb-6;
}
